@use "../../styles/variables" as *;

.bread-crumb-container {
  position: relative;
  border-bottom: 1px solid $border-color;
}


.hidden-folders-container {
  position: absolute;
  margin: 0;
  z-index: 2;
  background-color: rgb(99, 99, 99);
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-size: .9em;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    padding: 5px 10px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: rgb(117, 117, 117);
    }
  }
}