.code-block {
    overflow: unset !important;
    color: unset !important;
    padding: 0 !important;
    background: none !important;
}

.code-block>code {
    background: none !important;
}

.code-block>code>.linenumber {
    font-style: normal !important;
}

.code-modal>.ant-modal-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}