@use "../../styles/variables" as *;

.files {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 5px;
  height: calc(100% - (30px + 10px));
  overflow-y: hidden;
  padding: 8px;
  padding-right: 4px;

  .drag-move-tooltip {
    background-color: white;
    font-size: .78em;
    position: fixed;
    text-wrap: nowrap;
    border: 1px dashed black;
    padding: 1px 5px 2px 24px;
    border-radius: 3px;
    font-weight: bold;
    color: var(--file-manager-primary-color);
    z-index: 2;

    .drop-zone-file-name {
      color: rgb(48, 48, 48);
    }
  }

  .file-item-container {
    border-radius: 5px;
    margin: 5px 0;

    .drag-icon {
      position: absolute !important;
      top: -1000px;
      left: -1000px;
      z-Index: -1;
      border-radius: 4px;
      position: relative;
      color: white;
      background-color: var(--file-manager-primary-color);
      padding: 3px 8px;
    }
  }

  .file-item-container.file-drop-zone {
    background-color: rgb(0, 0, 0, 0.08) !important;
  }

  .file-item {
    position: relative;
    height: 100px;
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 1px;
    border-radius: 5px;

    &:hover {
      background-color: $item-hover-color;
    }

    .selection-checkbox {
      position: absolute;
      left: 5px;
    }

    .file-name {
      max-width: 140px;
    }
  }

  .file-selected {
    background-color: var(--file-manager-primary-color);
    color: white;

    &:hover {
      background-color: var(--file-manager-primary-color);
    }
  }

  .file-moving {
    opacity: 0.5;
  }
}

.files.list {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  padding-left: 0px;
  padding-top: 0px;
}

.ant-table-body:has(.ant-table-placeholder) > table:nth-child(1) {
    height: calc(100vh - 300px);
}

.ant-table-body:has(.ant-table-placeholder) {
    max-height: calc(100vh) !important;
}