@use "../../styles/variables" as *;

.files {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 5px;
  height: calc(100% - (30px + 10px));
  overflow-y: hidden;
  padding: 8px;
  padding-right: 4px;

  .file-selected {
    background-color: var(--file-manager-primary-color);
    color: white;

    &:hover {
      background-color: var(--file-manager-primary-color);
    }
  }

  .file-moving {
    opacity: 0.5;
  }
}

.files.list {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  padding: 0;
}

.ant-table-body:has(.ant-table-placeholder) > table:nth-child(1) {
    height: calc(100vh - 300px);
}

.ant-table-body:has(.ant-table-placeholder) {
    max-height: calc(100vh) !important;
}