#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

@media (max-width: 576px) {
  .file-explorer {
    padding: 0 0 30px 0;
  }

  .files.grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    display: grid;
    justify-items: stretch;
  }

  .files.grid .file-item {
    width: auto;
  }
}

.file-explorer {
  margin: 0 30px;
  min-height: calc(100vh - 30px - 70px) !important;
  height: 200px !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.header {
  margin: 0 30px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header>h1 {
  margin: 0;
  padding: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.files.list .files-header .file-select-all {
  width: 23px !important;
}

.files.list .file-item {
  padding-right: 0 !important;
}

.files.list>.files-header>.file-name {
  width: calc(65%) !important;
  text-align: left !important;
  padding-left: 0 !important;
}

.files.list>.files-header>.file-date {
  text-align: left !important;
}

.files.list .modified-date {
  justify-content: start !important;
}

.files.list>.files-header>.file-size {
  text-align: left !important;
  justify-content: end !important;
}

.files.list .size {
  justify-content: start !important;
}

.text-truncate.file-size {
  font-size: x-small !important;
}

.fm-checkbox {
  scale: 140%;
}

.files .file-item {
  justify-content: start !important;
}

.toolbar {
  white-space: nowrap !important;
}

.fm-toolbar>div:first-child {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.file-action-container>div:first-child {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.fm-modal.dialog:has(.file-previewer) {
  width: fit-content !important;
}

.fm-modal.dialog>.file-previewer {
  height: auto !important;
  width: auto !important;
}

.fm-modal.dialog>.file-previewer>img {
  width: 100% !important;
  height: 100% !important;
  max-height: 80vh;
}

.file-previewer .audio-preview {
  width: 100% !important;
  padding: 0 !important;
}

.fm-modal.dialog>.file-previewer:has(.audio-preview) {
  padding: 0;
}

.fm-modal.dialog:has(.file-previewer .audio-preview) {
  width: 90% !important;
  max-width: 768px;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.fm-modal.dialog:has(.fm-upload-file) {
  width: 90% !important;
  max-width: 768px;
}

.video-preview {
  width: 100% !important;
  height: 100% !important;
  max-height: 80vh !important;
}

.fm-modal.dialog>.file-previewer:has(.video-preview) {
  padding: 0 !important;
  height: 100% !important;
}

.fm-modal.dialog:has(.file-previewer>.photo-popup-iframe) {
  width: 90% !important;
  max-width: 768px;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.fm-upload-file .btn-choose-file {
  gap: 10px;
}

.header-left {
  display: flex;
  gap: 5px;
}

.fm-upload-file .files-progress ul {
  height: 300px !important;
}